.error-container {
    text-align: center;
    padding: 50px;
}

.titulo {
    font-size: 5em;
    margin-top: 50px;
    margin-bottom: 30px;
    color: var(--custom-green);
}

.texto {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: var(--custom-black);
}

.imagen {
    max-width: 100%;
    height: auto;
}