@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --custom-white: #F7F8F9;
  --custom-gray: #e3e3e3;
  --custom-green: #94B343;
  --custom-black: #212121;
}

body {
  background-color: var(--custom-white);
}